@import "tailwindcss";

body {
  font-family: system-ui;
  letter-spacing: 1px;
}
input, textarea {
  outline: none;
  font-family: system-ui;
}

input.form, textarea.form {
  @apply flex w-full border-b border-gray-300 p-2 mb-2
}

button {
  @apply px-3 py-1 bg-gray-100 rounded cursor-pointer hover:bg-gray-200 justify-center
}

button.btn-primary {
  @apply bg-green-600 text-white hover:bg-green-500
}

button.btn-danger {
  @apply bg-red-600 text-white hover:bg-red-500
}

button.btn-secondary {
  @apply bg-blue-600 text-white hover:bg-blue-500
}

button:disabled {
  @apply bg-gray-100 hover:bg-gray-100 cursor-not-allowed
}
